*{
	margin: 0 auto;
	padding-top: 5px;
}

body{
	width: 800px;
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
	color: #666;
	letter-spacing: 1px;
	line-height: 1.5em;
}

header h1{
	font-family: Arial, sans-serif;
	font-size: 1.8em;
	color: #630;
}

section article h1{
	font-size: 1.4em;
	color: #fff;
	background-color: #630;
	padding: 4px;
}

footer{
	font-size: 10pt;
	background-color: black;
	font-size: 0.8em;
	color: white;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align:center;
	clear: both;
}

section article ul li{
	font-style: italic;
}

section article figure{
	float: left;
	margin: 15px;
	margin-left: 0px;
}

.derecho{
	float: right;
	margin: 15px;
	margin-right: 0px;
}