body{
	font-family: Arial, Verdana, sans-serif;
	text-align: center;
}

.nombrecorto{
	font-weigth: bold;
	front-size: 1.5em;
}

.nombrelargo{
	font-style: italic;
}

.horas{
	font-size: 0.8em;
}

.caja{
	width: 200px;
	height: 150px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.profesor1{
	background-color: blue;
	color: white;
	border-color: red;
}

.profesor2{
	background-color: #00CC99;
	color: black;
	border-color: black;
}

/*Contenedor*/
article{
	background-color: #CCC;
	width: 800px;
	height: 600px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}