table.tabla01{
	background-color: #ededed;
	border: 1px solid #9e9e9e;
}

tr.bgcolor01{
	background-color: #dbdbdb;
}

table.tabla01 th{
	background-color: #7c7c7c;
}

table.tabla01 th, table.tabla01 td{
	border-bottom: 1px dashed #9e9e9e;
}